.filter-data {
    background-color: #D0D0D0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-info {
    display: flex;
    width: 73%;
    margin: 2% auto;
    gap: 4%;
    align-items: flex-start;
}

.detail-info__desc {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    gap: 16px;
    padding: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.detail-info__desc div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail-info__desc div ul {
    padding-left: 8px; 
}

.detail-info__desc div li {
    list-style: inside;
    margin-bottom: 8px;
    color: #8a8a8a;
}

.detail-info__harga {
    padding: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    flex-grow: 1;
}



