.search-filter {
    width: 73%;
    background-color: #ffff;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    z-index: 1;
    position: relative;
    padding: 24px;
    align-items: end;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.filter-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.filter-items input, select {
    border: 1px solid #CCCCCC;
    padding: 9px 12px;
    border-radius: 2px;
    height: 36px;
    width: 100%;
}

.filter-button {
    justify-content: flex-end;
    padding: 8px 12px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: none;
} 

#loading {
    width: 200px;
    margin: 2% auto;
}

@media only screen and (max-width: 767px) {
    .search-filter {
        width: 100%;
        height: auto;
        padding: 10% 5%;
        margin: 0;
        align-items: flex-start;
        box-shadow: none;
        background-color: #f7f9fc;
    }

    .filter-items, .filter-button {
        width: 100%;
    }
  }