.hero-sec {
    height: 20vh;
    background-color: #F1F3FF;
}

.search-filter {
    flex-direction: column;
    align-items: flex-start;
}

.search-filter__info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;
    width: 100%;
}

.filter-data {
    padding: 9px 12px;
    border: 1px solid #222222;
    border-radius: 2px;
    height: 36px;
    display: flex;
}

.filter-data p {
    width: 197px;
}

.edit-button {
    padding: 8px 12px;
    border: 1px solid #0D28A6;
    color: #0D28A6;
    background-color: white;
    border-radius: 2px;
    height: 36px;
}

#search-result {
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    margin: 2% auto;
    gap: 2%;
}

#search-result div {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 3%;
}

#search-result div img {
    width: 100%;
    height: 160px;
}

#search-result div button {
    padding: 8px 12px;
    background: #5CB85F;
    border-radius: 2px;
    color: white;
    border: none;
}

@media only screen and (max-width: 767px) {
    .search-filter__info {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-items, .edit-button {
        width: 100%;
    }

    #search-result {
        width: 100%;
        padding: 2%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #search-result div {
        width: 100%;
    }

    
  }