* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Arial;
}

header {
    height: auto;
    background-color: #F1F3FF;
}

.brand-logo {
    width: 100px;
    height: 34px;
}

.navigation {
    display: flex;
    padding: 24px 200px 24px 48px;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #F1F3FF;
    opacity: 90%;
    z-index: 2;
}

.navigation > span {
    display: none;
}

.menu-container {
    margin-left: auto;
}

.menu-container span {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
}

.judul-nav-mobile {
    display: none;
}

.menu a {
    text-decoration: none;
    margin: 8px;
    padding: 4px;
    color: black;
}

.hero-sec {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 7%;
}

.hero-desc {
    padding-left: 48px;
    padding-top: 64px;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    flex: 1;
}

.hero-desc > h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
}

.hero-desc > p {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.cta-button {
    color: #FFFFFF;
    width: 140px;
    font-weight: bold;
    padding: 8px 12px;
    background: #5CB85F;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    text-decoration: none;
}

.hero-right {
    text-align: end;
    right: 0;
    flex: 1;
}

.hero-right > img {
    width: 100%;
    height: auto;
}

.our-service-sec {
    display: flex;
    margin: 100px auto;
    width: 75%;
    /* padding: 0 180px; */
    gap: 100px;
}

.our-service-left {
    flex: 1;
}

.our-service-left > img {
    width: 100%;
    height: auto;
}

.our-service-right {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.our-service-right > h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}

.our-service-right > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.our-service-right > ul > li {
    display: flex;
    margin-bottom: 16px;
    gap: 16px;
}

.our-service-right > ul > li > p {
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 2px;
}

.why-us-sec {
    width: 80%;
    margin: 0 auto 100px auto;
}

.why-us-sec > h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.why-us-sec > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.why-us-desc-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.why-us-desc-container > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    align-items: flex-start;
    margin-bottom: 2%;
}

.why-us-desc-container > div > h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.why-us-desc-container > div > p {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    width: 210px;
}

.testimoni {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    overflow: hidden;
}

.testimoni > h2 {
    margin-bottom: 16px;
    text-align: center;
}

.testimoni > p {
    margin-bottom: 40px;
    text-align: center;
}

.testimoni__detail-container {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    align-self: center;
}

.testimoni__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    height: 270px;
    padding: 69px 32px;
    background-color: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.testimoni__detail-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; 
    width: 415px;
}

.testimoni__detail-quote {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.testimoni__detail-bio {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.testimoni__button {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.button__right, .button__left {
    padding: 12px;
    border-radius: 70%;
    background-color: white;
    border: 1px solid #C4C4C4;
}

.button__right:hover, .button__left:hover {
    background: #5CB85F;
}

.cta-banner-sec {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 100px;
}

.cta-banner-sec > div {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    background-color: #0D28A6;
    text-align: center;
    align-items: center;
    border-radius: 13px;
}

.cta-banner-sec > div > h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 16px;
    color: #FFFFFF;
    padding: 0 2%;
}

.cta-banner-sec > div > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 52px;
    color: #FFFFFF;
    padding: 0 25%;
}



.faq {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    gap: 2%;
}

.faq__left {
    flex: 1;
}

.faq__left > h2 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.faq__left > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.faq__right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1.5;
}

.faq__detail {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
}

footer {
    display: flex;
    padding: 10% 10% 100px 10%;
    gap: 5%;
}

.footer__info, .footer__nav, .footer__contact, .footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.footer__info, .footer__contact, .footer__copyright > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.footer__nav > a {
    text-decoration: none;
    color: black;
}

.footer__contact > div {
    display: flex;
    gap: 16px;
}

@media only screen and (max-width: 767px) {
    .hero-sec {
        flex-direction: column;
        padding-top: 10vh;
    }

    .navigation {
        padding: 16px;
    }

    .navigation > span {
        display: block;
        position: absolute;
        right: 5%;

    }

    .menu-container {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

      .overlay-content {
        width: 50%;
        height: 100%;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        position: absolute;
        right: 0;
        background-color: #FFFFFF;
      }

      .overlay-content__top {
        display: flex;
        padding-left: 12px;
        padding-right: 24px;
        align-items: center;
      }

      .judul-nav-mobile {
        display: inline;
      }

      .menu-container span {
        display: inline;
        margin-left: auto;
      }

      .menu {
        flex-direction: column;
        gap: 16px;
      }

    .hero-desc {
        padding: 0 16px;
        width: 100%;
    }

    .hero-right {
        width: 100%;
    }

    .our-service-sec {
        flex-direction: column;
        gap: 0;
        width: 100%;
        padding: 0 16px;
        margin: 60px 0;
    }

    .our-service-left {
        width: 100%;
    }

    .our-service-right {
        width: 100%;
    }

    .why-us-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        margin: 0 auto 60px auto;
    }

    .why-us-desc-container {
        flex-direction: column;
        gap: 16px;
        width: 90%;
    }
    .why-us-desc-container > div > p {
        width: auto;
    }

    .why-us-sec > h2 , .why-us-sec > p {
        margin-bottom: 0px;
    }

    .testimoni {
        padding: 16px;
        gap: 16px;
        margin-bottom: 60px;
    }

    .testimoni > h2, .testimoni > p {
        margin-bottom: 0px;
    }

    .testimoni__detail-container {
        gap: 0px;
        margin-bottom: 0px;
        width: 300%;
        gap: 16px;
    }

    .testimoni__detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        width: 100%;
        height: auto;
        padding: 40px 32px;
        background-color: #F1F3FF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        
    }

    .testimoni__detail-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%; 
    }

    .cta-banner-sec {
        width: 90%;
        margin-bottom: 60px;
    }

    .cta-banner-sec > div > p {
        padding: 10%;
    }
    
    .faq {
        flex-direction: column;
        gap: 16px;
        width: 100%;
        padding: 0 16px;
        margin-bottom: 60px;
    }

    .faq__left {
        text-align: center;
    }

    footer {
        flex-direction: column;
        padding: 10% 5%;
        gap: 16px;
    }
  }